@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/intro.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
    background-color: #13141088;
    border: 2px solid #d4c09e;
    color: #d4c09e;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.1);
}

.intro-text {
    margin-top: -5rem;
    clip-path: polygon(52% 17%, 100% 0, 100% 43%, 100% 100%, 68% 100%, 81% 100%, 0 100%, 0 0, 0 0);    
    background-color: #46463a;
    color: #d4c09e;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    text-align: center;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url('../img/package.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text a {
    background-color: #352e1aab;
    border: 2px solid #d4c09e;
    color: #d4c09e;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.1);
}

.packaging-text {
    background-color: #1b281c;
    color: #d4c09e;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem; 
    text-align: center;
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url('../img/tutorials.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color: #1d1914a2;
    border: 2px solid #d4c09e;
    color: #d4c09e;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #1d1914;
    color: #d4c09e;
    font-size: 1.5rem;
    height: 25vh;
    padding: 2rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color:#d4c09e;
    text-decoration: none;
}

.footer ul li:hover, .footer ul li a:hover {
    color: #ffe8c9;
    transform: scale(1.1);
}